

<!DOCTYPE html>
<html dir="ltr">
<head lang="en">
    {% load static %}

    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/reset.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/site.css"%}>

    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/container.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/grid.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/header.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/image.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/menu.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/card.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/card.min.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/dimmer.css"%}>


    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/divider.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/dropdown.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/segment.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/button.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/list.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/icon.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/sidebar.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/transition.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/shape.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/semantic.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/tab.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/modal.css"%}>
     <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/form.css"%}>

   <script src={% static "semantic/examples/assets/library/jquery.min.js"%}></script>
    <script src={% static "semantic/dist/components/visibility.js"%}></script>
    <script src={% static "semantic/dist/components/sidebar.js"%}></script>
    <script src={% static "semantic/dist/components/transition.js"%}></script>
    <script src={% static "semantic/dist/components/dimmer.js"%}></script>
    <script src={% static "semantic/dist/semantic.min.js"%}></script>
    <script src={% static "semantic/dist/semantic.js"%}></script>
	<script src={% static "semantic/dist/components/checkbox.js"%}></script>
	<script src={% static "semantic/dist/components/rating.js"%}></script>
	<script src={% static "semantic/dist/components/form.js"%}></script>
    <script src={% static "semantic/dist/components/tab.js"%}></script>
    <script src={% static "semantic/dist/components/modal.js"%}></script>
    <meta charset="UTF-8">

    <title></title>
    <style>
        form {
            margin-top: 80px;
        }
         body {
      background-color:#ffffff;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .form-group {
        margin: 15px;
        resize: none;

    }
        textarea {
            resize: none;
        }


    </style>


</head>

<body style="background-color: #00827c">




{% block layout %}
{% endblock %}

{% block cont %}



{% endblock %}

<script>
{% block script %}
{% endblock %}
  $('.dropdown').dropdown({
    // you can use any ui transition
    transition: 'drop'


  })
  $('.dropdown').dropdown({on:'hover'});
</script>
</body>
</html>