

    {% extends my_template %}
{% block content %}

    <div class="ui middle aligned center aligned grid" style="margin-top: 150px">
        <div   class="five wide column">
            <h2 class="ui teal image header">
                <div class="content">
                    Please fillout the event properties...
                </div>
            </h2>
            <form class="ui large form" action="." method="post" enctype="multipart/form-data">
                <div class="ui stacked left aligned segment">
                    <div class="field">

                        {% csrf_token %}
                        {{ form.as_p }}

                    </div>
                    <table id="formset-table">
                    {{ formset.as_table }}
                    </table>
                    <input type="button" class="ui fluid large teal button" value="Add Ticket Type" id="add-type">
                    <input type="submit" class="ui fluid large teal submit button" >
                </div>

                <div class="ui error message"></div>

            </form>


        </div>
    </div>
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Profile Picture
        </div>
        <div class="content">
            <div class="ui medium image">

            </div>
            <div class="description">
                <div class="ui header">We've auto-chosen a profile image for you.</div>
                <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
                <p>Is it okay to use this photo?</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Nope
            </div>
            <div class="ui positive right labeled icon button">
                Yep, that's me
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <script>
        $("#id_price").keypress(function(event) {
            // if (event.which == 13) {
            // event.preventDefault();
            console.log('fuck you');
            // }
        });

        var x = $('#id_price').text();
        var temp='<div class'+'="form-group"><input placeholder'+'=type" type" required'+'="" type'+'="text" /></div>'+'<div class'+'="form-group"><input placeholder'+'=Number" type" required'+'="" type'+'="text" /></div>'
        console.log(x);
        for(var i=0;i<x;i++){
            $('#id_price').insertAfter(temp);
        }




        </script>
    <script>
            var sub_cats = {{ sub_cats_list | safe }};
        $('select#id_category').change(function () {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;

            $('select#id_subCategory').empty();
            $.each(sub_cats[valueSelected], function (value, key) {
                $('select#id_subCategory').append($("<option></option>").attr("value", value).text(key));
            });
        });

            $(function () {
            var optionSelected = $("select#id_category option:selected");

            var valueSelected = $('select#id_category').val();
            $('select#id_subCategory').empty();
            $.each(sub_cats[valueSelected], function (value, key) {
                $('select#id_subCategory').append($("<option></option>").attr("value", value).text(key));
            });
        });


            $('#add-type').click(function () {
                console.log('clicked');
                function get_ticket_type(num) {
                    return '<tr><th><label for="id_eventtickettype_set-'
                            + num +
                            '-name">Name:</label></th><td><input id="id_eventtickettype_set-'
                            + num +
                            '-name" maxlength="50" name="eventtickettype_set-'
                            + num +
                            '-name" type="text"></td></tr><tr><th><label for="id_eventtickettype_set-'
                            + num +
                            '-price">Price:</label></th><td><input id="id_eventtickettype_set-'
                            + num +
                            '-price" name="eventtickettype_set-'
                            + num +
                            '-price" type="number"></td></tr><tr><th><label for="id_eventtickettype_set-'
                            + num +
                            '-tickets">Tickets:</label></th><td><input id="id_eventtickettype_set-'
                            + num +
                            '-tickets" name="eventtickettype_set-'
                            + num +
                            '-tickets" type="number"></td></tr><tr><th><label for="id_eventtickettype_set-'
                            + num +
                            '-DELETE">Delete:</label></th><td><input id="id_eventtickettype_set-'
                            + num +
                            '-DELETE" name="eventtickettype_set-'
                            + num +
                            '-DELETE" type="checkbox"><input id="id_eventtickettype_set-'
                            + num +
                            '-id" name="eventtickettype_set-'
                            + num +
                            '-id" type="hidden">';
                }

                var num = parseInt($('#id_eventtickettype_set-TOTAL_FORMS').val());
                $('#formset-table tbody').html($('#formset-table tbody').html() + get_ticket_type(num));
                $('#id_eventtickettype_set-TOTAL_FORMS').val(num + 1);
            });
    </script>
{% endblock %}


