





<!DOCTYPE html>
{% extends my_template %}
{% block content %}

    <html lang="en">
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <title></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properities -->
        <title>Homepage - Semantic</title>

        <link rel="stylesheet" type="text/css" href={% static "events.css"%}>



        <link rel="stylesheet" href="main.css">


        <style type="text/css">

            .hidden.menu {
                display: none;
            }

            .imageContainer {
                display:block;
                width:100%;
                height:500px;
                overflow: hidden;

                background-image: url({% static 'image/recycled_texture_background_by_sandeep_m-d6aeau9.jpg'%});
            }
            .container {
                color: white;
            }



        </style>

    </head>
    {% for event in event %}
        <div class="container">
            <div  class="imageContainer" style="margin-top: 40px; height: 300px" >
                <div style="margin-top: 50px" class="forimage">


                    <h1 style="font-size: 50px;"> {{ event.subject }} </h1>



                    <h5> Only until {{ event.finishDate }} </h5>
                    <h5> {{ event.category }} <i class="angle right icon"></i> {{ event.subCategory }}</h5>
                </div>

            </div>
            <img style="border: 5px solid; z-index: 5; margin-left: 75px" class="ui medium left floated  image" src="/media/{{MEDIA_URL}}{{event.photo}}">

        </div>

        <div style="z-index: 0" class="goodmargin">
            <div  class="ui segment" style="margin-bottom:10px">
                <div class="ui internally celled grid">

                    <div class="row">

                        <div class="twelve wide column">
                            <div class="big ui right floated button"  style="background-color: #008080;"><a onclick="chooseTicket()" style="color: white">Buy now!</a></div>
                            <div style="margin-bottom: 20px">
                                <h1> Description </h1>
                                <p>{{ event.description }}
                                </p>
                            </div>
                            {% if error %}<div class="ui info message">You tried to buy seats more than tickets remaining</div>{% endif %}
                        </div>
                        <div class="four wide column">
                            <h2> Rate! </h2>
                            <h5> current rate: {{ event.score }}</h5>
                            <div class="ui star rating" ></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ui comments" style="margin: 20px">
                            <h3 class="ui dividing header">Comments</h3>
                            <div class="comment">
                                <a class="avatar">
                                    <img src={% static 'image/0o91ui7eiu9w5rq9kg8s.jpg'%}>
                                </a>
                                <div class="content">
                                    <a class="author">Matt</a>
                                    <div class="metadata">
                                        <span class="date">Today at 5:42PM</span>
                                    </div>
                                    <div class="text">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src={% static 'image/download.jpg'%}>
                                </a>
                                <div class="content">
                                    <a class="author">Elliot Fu</a>
                                    <div class="metadata">
                                        <span class="date">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p>This has been very useful for my research. Thanks as well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>

                            </div>
                            <div class="comment">
                                <a class="avatar">
                                    <img src={% static 'image/1422441_610105105750835_231996108057904485_n.jpg'%}>
                                </a>
                                <div class="content">
                                    <a class="author">Bache Famil</a>
                                    <div class="metadata">
                                        <span class="date">5 days ago</span>
                                    </div>
                                    <div class="text">
                                        Chi shode?!
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                            <form class="ui reply form">
                                <div class="field">
                                    <textarea></textarea>
                                </div>
                                <div class="ui blue labeled submit icon button">
                                    <i class="icon edit"></i> Add Reply
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        </div>


        </div>
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="ui segment" style="margin: 0; padding: 0">
                <div class="row" style="margin: 20px">

                    <div class="six wide column">
                        <form class="ui form" action="/buy/{{ event.id }}" method="post">
                            {% csrf_token %}
                            <h2> Tickets </h2>
                            <div class="fields">
                                <div class="three wide field" >
                                    <label> Tickets left: </label>
                                    <div>
                                        {% for typ in event.eventtickettype_set.all %}
                                        <span>{{ typ.tickets }} from {{ typ.name }}</span><br>
                                            {% endfor %}
                                    </div>
                                </div>
                                <div class="five wide field">
                                    <label> Types of tickets </label>
                                    <select class="ui fluid search dropdown" name="type">
                                        {% for typ in event.eventtickettype_set.all %}
                                        <option value="{{ typ.id }}">{{ typ.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="four wide field">
                                    <label> Number of tickets </label>
                                    <input type="text" name="numoftickets" maxlength="5" placeholder="# of tickets">
                                </div>


                                <div class="one wide field">
                                </div>
                                <div class="four">
                                    <input class="big ui button" type="submit" style="background-color: #008080; color: white" value="Buy now!">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <script>
            var score=0;

            $('.dropdown').dropdown({
                // you can use any ui transition
                transition: 'drop'



            })
            $(document).ready(function(){
                $('.rating')

                        {% if event.score >= 0 and event.score < 1 %}
                            .rating({
                                    initialRating: 0,
                                    maxRating: 5
                                })
                        {% endif %}
                        {% if event.score >= 1 and event.score < 2 %}
                            .rating({
                                    initialRating: 1,
                                    maxRating: 5
                                })
                        {% endif %}
                        {% if event.score >= 2 and event.score < 3 %}
                            .rating({
                                    initialRating: 2,
                                    maxRating: 5
                                })
                        {% endif %}
                        {% if event.score >= 3 and event.score < 4 %}
                            .rating({
                                    initialRating: 3,
                                    maxRating: 5
                                })
                        {% endif %}
                        {% if event.score >= 4 and event.score < 5 %}
                            .rating({
                                    initialRating: 4,
                                    maxRating: 5
                                })
                        {% endif %}
                        {% if event.score == 5 %}
                            .rating({
                                    initialRating: 5,
                                    maxRating: 5
                                })
                        {% endif %}



            })

            $('.dropdown').dropdown({on:'hover'});


            ;
            function chooseTicket(){
                $('.ui.modal')
                        .modal('show')
                ;
            }

        </script>
    {% endfor %}
    </body>
    </html>


{% endblock %}














