  {% extends my_template %}
{% block content %}
<!DOCTYPE html>
<html dir="ltf">
<head>
    {%  load static %}
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->
    <title>Homepage - Semantic</title>
    <link rel="stylesheet" type="text/css" href={% static "semantic/dist/components/reset.css"%}>



    <style type="text/css">



    </style>


</head>
<body>


<div class="ui two column doubling grid" style="margin-top: 80px">

<div class="three wide  column " style="margin-left: 50px">
        <div class="ui vertical  menu"  >

            <a class=" acitve left item">

                <span>Print</span>
            </a>
            <a class="item">

                <span>Draw Chart</span>
            </a>
            <a class="item">
                Advance
            </a>
        </div>
    </div>
    <div class="twelve wide column" id="main-content" style="padding: 0px; margin-bottom: 50px">
        <div class="ui vertical stripe segment">
            <div class="ui middle centered aligned stackable grid container">
                <div class="row">
                    <div class="twelve wide column">
                        <h2>Azadi Cinema</h2>
                        <div class="ui divided items">
                            <div class="item">
                                <div class="image">
                                    <img src={% static "image/download.jpg"%}>
                                </div>
                                <div class="content">
                                    <a class="header">4tar Concert</a>
                                    <div class="meta">
                                        <span class="cinema">Number of Tickets: 820</span>

                                    </div>
                                    <div class="meta">
                                        <span class="cinema">Date: 1/1/2001</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cinema">Money Earned: 1,232,000</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cineman"> Users Rate: <div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src={% static "image/hMTavgm1.jpeg"%}>
                                </div>
                                <div class="content">
                                    <a class="header">Game Of Thrones</a>
                                    <div class="meta">
                                        <span class="cinema">Money Earned: 12,213,412</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cinema">Date: 1/1/2001</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cinema">Number of Tickets: 2</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cineman"> Users Rate: <div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>

                                </div>
                            </div>
                            <div class="item">
                                <div class="image">
                                    <img src={% static "image/KSCOPE206-300.jpg"%}>
                                </div>
                                <div class="content">
                                    <a class="header">Weather Systems Concert</a>
                                    <div class="meta">
                                        <span class="cinema">Money Earned: 1,123,143</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cinema">Date: 1/1/2001</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cinema">Number of Tickets: 2</span>
                                    </div>
                                    <div class="meta">
                                        <span class="cineman"> Users Rate: <div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


</div>




<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $('.dropdown').dropdown({
        // you can use any ui transition
        transition: 'drop'


    })
    $('.dropdown').dropdown({on:'hover'});
</script>
</body>

</html>
       {% endblock %}