{% extends my_template %}
{% block content %}
    {% load static %}
    <div style="margin-top: 80px; margin-left: 60px; margin-right: 60px">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Events</a>
            <a class="item" data-tab="second">Categories</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
            <div class="ui vertical stripe segment">
                <div class="ui middle centered aligned stackable grid container">
                    <div class="row">
                        <button class="ui labeled icon green button">
                            <i class="plus icon"></i>
                            Add event
                        </button>
                    </div>
                    <div class="row">
                        <div class="twelve wide column">
                            <h2>Events</h2>
                            <div class="ui divided items">
                                <div class="item">
                                    <div class="image">
                                        <img src={% static "image/download.jpg"%}>
                                    </div>
                                    <div class="content">
                                        <a class="header">4tar Concert</a>
                                        <div class="meta">
                                            <span class="cinema">Azadi Cinema</span>

                                        </div>
                                        <div class="meta">
                                            <span class="cinema">Date: 1/1/2001</span>
                                        </div>
                                        <div class="meta">
                                            <span class="cinema">Number of Tickets: 2</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">
                                            <button class="ui right floated labeled icon red button">
                                                <i class="remove icon"></i>
                                                Remove
                                            </button>
                                        </div>
                                        <div class="extra">
                                            <button class="ui right floated labeled icon blue button">
                                                <i class="edit icon"></i>
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src={% static "image/hMTavgm1.jpeg"%}>
                                    </div>
                                    <div class="content">
                                        <a class="header">Game Of Thrones</a>
                                        <div class="meta">
                                            <span class="cinema">HassanGholi Cinema</span>
                                        </div>
                                        <div class="meta">
                                            <span class="cinema">Date: 1/1/2001</span>
                                        </div>
                                        <div class="meta">
                                            <span class="cinema">Number of Tickets: 2</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">
                                            <button class="ui right floated labeled icon red button">
                                                <i class="remove icon"></i>
                                                Remove
                                            </button>
                                        </div>
                                        <div class="extra">
                                            <button class="ui right floated labeled icon blue button">
                                                <i class="edit icon"></i>
                                                Edit
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image">
                                        <img src={% static "image/KSCOPE206-300.jpg"%}>
                                    </div>
                                    <div class="content">
                                        <a class="header">Weather Systems Concert</a>
                                        <div class="meta">
                                            <span class="cinema">IFC</span>
                                        </div>
                                        <div class="meta">
                                            <span class="cinema">Date: 1/1/2001</span>
                                        </div>
                                        <div class="meta">
                                            <span class="cinema">Number of Tickets: 2</span>
                                        </div>
                                        <div class="description">
                                            <p></p>
                                        </div>
                                        <div class="extra">
                                            <button class="ui right floated labeled icon red button">
                                                <i class="remove icon"></i>
                                                Remove
                                            </button>
                                        </div>
                                        <div class="extra">
                                            <button class="ui right floated labeled icon blue button">
                                                <i class="edit icon"></i>
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            <div class="ui vertical stripe segment">
                <div class="ui middle centered aligned stackable grid container">
                    <div class="row">
                        <button class="ui labeled icon green button" onclick="showModal()">
                            <i class="plus icon"></i>
                            Add Category
                        </button>
                    </div>
                    <div class="ui top attached tabular menu">
                        {% for category in category %}
                            {% if category.id == 1 %}<a class="item active" data-tab={{ category.id }}>{{ category.name }} </a>{% endif %}
                            {% if category.id != 1 %}<a class="item " data-tab={{ category.id }}>{{ category.name }} </a>{% endif %}
                        {% endfor %}
                    </div>
                    {% for category in category %}
                        {% if category.id == 1 %}<div class="ui bottom attached tab segment active" data-tab={{ category.id }}>{% endif %}
                        {% if category.id != 1 %}<div class="ui bottom attached tab segment " data-tab={{ category.id }}>{% endif %}
                        <div class="ui vertical stripe segment">
                            <div class="ui middle centered aligned stackable grid container">
                                <div class="row">
                                    <button class="ui labeled icon red button">
                                        <i class="remove icon"></i>
                                        Remove
                                    </button>
                                    <button class="ui labeled icon green button" onclick="showModalSub({{ category.id }})">
                                        <i class="plus icon"></i>
                                        Add Subcategory
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="twelve wide column">
                                        <h2>SubCategories</h2>
                                        <div class="ui divided items">
                                            {% for subcat in subcategory %}
                                                {% if subcat.daste == category %}
                                            <div class="item">
                                                <div class="content">{{ subcat.name }}</div>
                                                <button class="ui right floated labeled icon red button">
                                                    <i class="remove icon"></i>
                                                    Remove
                                                </button>
                                            </div>
                                                {% endif %}
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
<input type="hidden" id="hidden">
    <input type="hidden" id="name">
    <div id="cat" class="ui modal">
        <i class="close icon"></i>


        <div class="ui form" style="margin: 30px;">
            <div class="field">

                <input id="catname" type="text" name="name" placeholder="Name">
            </div>

        </div>
        <div class="actions">
            <div  class="ui positive right labeled icon button" id="categorySubmit" >
                Submit
                <i class="checkmark icon"> </i>
            </div>
        </div>

    </div>
    <div id="subCat" class="ui modal">
        <i class="close icon"></i>


        <div class="ui form" style="margin: 30px;">
            <div class="field">

                <input id="subcatname" type="text" name="name" placeholder="Name">
            </div>

        </div>
        <div class="actions">
            <div  class="ui positive right labeled icon button" id="subcategorySubmit" >
                Submit
                <i class="checkmark icon"> </i>
            </div>
        </div>

    </div>
    <script>
    $(document).ready(function(){
        $('.menu .item')
                .tab()
        ;

    })
    $('#categorySubmit').on('click',function(){
        window.location='/addCategory/'+$('#catname').val()
    })
    $('#subcategorySubmit').on('click',function(){
        window.location='/addSubCategory/'+$('#subcatname').val()+'/'+$('#hidden').val()
    })
    function showModal(){
            $('#cat')
                    .modal('show')
            ;
        }
        function showModalSub(id){
            $('#hidden').val(id)
            console.log(id)
            $('#subCat')
                    .modal('show')
            ;
        }
    </script>
{% endblock %}