{% extends my_template %}

{% block content %}
    <br><br><br><br>
    <div class="ui vertical stripe segment">
        <div class="ui middle centered aligned stackable grid container"
             style="background-color: white; border-radius: 1%">
            <div class="row">
                <div class="twelve wide column">

                    <h2>User Profile:</h2>
                    <div class="ui form">
                    <div class="disabled field">
                                <label>Username</label>
                                <input placeholder="{{ user.username }}" disabled="" type="text">
                            </div>

                            <div class="disabled field">
                                <label>First Name</label>
                                <input placeholder="{{ user.first_name }}" disabled="" type="text">
                            </div>
                            <div class="disabled field">
                                <label>First Name</label>
                                <input placeholder="{{ user.last_name }}" disabled="" type="text">
                            </div>
                        <div class="disabled field">
                                <label>Admin Status</label>
                                <input placeholder="{% if user.is_superuser%} Admin {% else %}Normal User{% endif %}" disabled="" type="text">
                            </div>


                    </div>

                    <a href="/report/">List of purchased tickets</a>


                    <script>
                        $(document).ready(function () {
                            // $(".errorlist").attr("class","errorlist ui warning message")
                            //$(".errorlist").css("list-style-type", "none")
                            function validate(e) {
                                e.preventDefault()
                                if ($('#id_password').val() != $('id-passwordRetype').val()) {
                                    $('.ui.warning.message').css('display', 'block')
                                }
                            }

                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


